<div class="container">
<div class="row"> 

<div class="login-img tenor-gif-embed" data-postid="13222106" data-share-method="host" data-width="30%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/third-eye-3rd-eye-open-gif-13222106">Third Eye 3rd Eye GIF</a> from <a href="https://tenor.com/search/thirdeye-gifs">Thirdeye GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
 </div>
</div>
<div class="text-center">

<h1>Welcome to OPEN</h1>
<h2>We care about your privacy</h2>


<%= form_with(url: "/login", method: :post, class: "form-signin")  do |f| %>

    <label>Name:</label><br>
    <%=f.text_field :name, class: "form-control" %><br>

    <label>Password: </label><br>
    <%=f.password_field :password, class: "form-control"  %><br>

    

    <%= f.submit "Login", class: "btn btn-primary btn-block btn-lg " %><br>

<% end %>




 <br><%=link_to "Create Account", new_user_path%>
 </div>



<div>