<div class="text-center"> 
<h1>Welcome to OPEN</h1>
<h2>We care about your privacy</h2>

<%= form_with(url: "/login", method: :post, class: "form-signin")  do |f| %>

    <label>Name:</label><br>
    <%=f.text_field :name, class: "form-control" %><br>

    <label>Password: </label><br>
    <%=f.password_field :password, class: "form-control"  %><br>

    

    <%= f.submit "Login", class: "btn btn-primary btn-block btn-lg " %><br>

<% end %>



 <br><%=link_to "Create Account", new_user_path%>
</div>

