<h4><%= comment.user.name %> said at <%= comment.date %>: </h4>

<p>
    <%= comment.content%>

    <% if current_user == comment.user %>
        <%= link_to("Delete", comment_path(comment), method: :delete)%>
        <%= link_to("Edit", edit_comment_path(comment)) %>
    <% end %>
</p>