<h5>
    <%= comment.content%>

    <% if current_user == comment.user %>
        <%= link_to("Delete", comment_path(comment), method: :delete)%>
        <%= link_to("Edit", edit_comment_path(comment)) %>
    <% end %>
</h5>

<p><%= comment.user.name %> at <%= comment.date %>. </p>