 <%= form_tag users_path, method: :get do %>
    <%= label_tag(:q, "Search for users:") %>
   <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
 <% end %>



<h2>Your have <%= @user.friends.count %> friends:</h2>

<% @user.friends.each do |f| %>
    <p><%= link_to(f.name, user_path(f))%></p>
<% end %>

<p><%= link_to("Back", user_path(@user)) %></p>