
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 22rem;">
                    <%= display_profile_pic(@user) %>
                <div class="card-body">
                    <h5 class="card-title"><%= display_profile_header(@user) %></h5>
                    <p class="card-text"><%= @user.bio %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: <%= @user.email %></li>
                    <li class="list-group-item">Age: <%= @user.age %></li>
                    <%= message_display(@user) %>
                </ul>
                <div class="card-body">
                    <p class="card-link"><%= link_to("Friends (#{@user.friend_count})", user_friends_path(@user))%></p>

                <% if current_user != @user %>
                    <div class="card-link">
                        <p><%= link_to("Mutual friends (#{current_user.mutual_friend_count(@user)})", mutual_friends_path(@user))%></p>
                        <p><%= display_friendship_status(@user) %></p>
                    </div>
                <% end %>

                </div>
            </div>


        </div>

        <% if current_user.friend?(@user) || @user == current_user %>
            <div class="col-4">
                <h3> Most viewed posts</h3>

                    <ul>
                        <% @user.most_hit.each do |p| %>
                            <li><%= link_to(p.content, post_path(p)) %></li>
                        <% end %>
                    </ul>
            </div>

            <div class="col-4">
                    <h2>All Posts</h2>
                     <% @user.posts.order(created_at: :desc).each do |p| %>
                        <p><%= link_to(p.content, post_path(p))%></p>
                    <% end %>


                    <% if current_user == @user %>
                        <%= render({partial: "posts/form", locals:{post: @post}})%>
                    <% end %>

                   
            </div>

        <% end %>



    </div>
</div>
