<h2><%= @user.name %></h2>

<p>Bio: <%= @user.bio %></p>
<p>Email: <%= @user.email %></p>
<p>Age: <%= @user.age %></p>
<p><%= link_to("Friends", user_friends_path(@user))%>

<h3>Posts</h3>

<% @user.posts.each do |p| %>
    <p><%= link_to(p.content, post_path(p))%></p>
<% end %>