<h2><%= display_profile_header(@user) %></h2>

<% if @user.profile_pic.attached? %>
    <img src=<%=(url_for(@user.profile_pic)) %> width="25%" height="25%">
<% end %>


<p>Bio: <%= @user.bio %></p>
<p>Email: <%= @user.email %></p>
<p>Age: <%= @user.age %></p>
<p><%= link_to("Friends", user_friends_path(@user))%></p>

<% if current_user != @user %>
    <%= display_friendship_status(@user) %>
<% end %>




<h2>Posts</h2>


<% if current_user == @user %>
    <%= render({partial: "posts/form", locals:{post: @post}})%>
<% end %>

<% @user.posts.order(created_at: :desc).each do |p| %>
    <p><%= link_to(p.content, post_path(p))%></p>
<% end %>

<h3> Most viewed posts</h3>
<ul>
<%most=@user.posts.most_hit%>
<%most.each do |p|%>
<li><%=link_to(p.content, post_path(p))%></li>
<%end %>
</ul>