<h2><%= display_profile_header(@user) %></h2>

<img src=<%= @user.img_url%> alt="profile-pic">


<p>Bio: <%= @user.bio %></p>
<p>Email: <%= @user.email %></p>
<p>Age: <%= @user.age %></p>
<p><%= link_to("Friends", user_friends_path(@user))%></p>

<% if current_user != @user %>
    <%= display_friendship_status(@user) %>
<% end %>

<h3>Posts</h3>

<% if current_user == @user %>
    <%= render({partial: "posts/form", locals:{post: @post}})%>
<% end %>

<% @user.posts.order(created_at: :desc).each do |p| %>
    <p><%= link_to(p.content, post_path(p))%></p>
<% end %>