<h3><%= @post.content%></h3>

<% if @post.user == current_user %>
    <%= link_to("Edit", edit_post_path(@post))%>
<% end %>

<h4>Comments:</h4>

<%= render({partial: "comments/form", locals: {post: @post, comment: @comment}})%>

<%= render(@post.comments.order(created_at: :desc)) || "Be the first to comment on this post" %>

<p><%= link_to("Back", user_path(@post.user))%>
