<!DOCTYPE html>
<html>
  <head>
    <title>Open</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
        <h3><%= flash[:notice] %></h3>
    <% end %>

    <%= yield %>

    <% if session[:user_id] %>
      <p><%= link_to("Log out", session_path, method: :delete) %>
    <% end %>
  </body>
</html>
