<!DOCTYPE html>
<html>
  <head>
    <title>Open</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav>
      <% if session[:user_id] %>
        <p>
          <%= link_to("My Profile", user_path(current_user))%>
          <%= link_to("Friend Requests (#{current_user.received_friend_requests_count})", friend_requests_path(current_user))%>
          <%= link_to("Update your account", edit_user_path(current_user)) %>
          <%= link_to("Log out", session_path(current_user.id), method: :delete) %>
        </p>
      <% end %>
    </nav>

  </head>

  <body>
    <% if flash[:notice] %>
        <h3><%= flash[:notice] %></h3>
    <% end %>

    <%= yield %>

    
  </body>
</html>
